:root {
  --color-darker-blue: hsl(233, 49%, 7%);
  --color-dark-blue: hsl(244, 38%, 16%);
  --color-violet: hsl(276, 42%, 47%);
  --color-white: hsl(0, 0%, 100%);
  --color-white-trans-md: hsla(0, 0%, 100%, 0.75);
  --color-white-trans-sm: hsla(0, 0%, 100%, 0.6);
  --color-violet-overlay:hsla(277, 64%, 61%, 0.5);
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Lexend Deca", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-size: 1.6rem;
  color: white;
  background-color: var(--color-darker-blue);
}

.container {
  width: 85%;
  max-width: 950px; 
  margin: 0 auto;
  /* border: 4px solid orange;  */
}

.card{ 
  margin-top: 15%;
  margin-bottom: 15%;
  border-radius: 6px;
  display: flex;
  flex-direction: column-reverse;
  /* border: 4px solid red;  */
  background-color: var(--color-dark-blue);
  color: white;
  overflow: hidden;
  text-align: center;

}
.card-text-container { 
  padding: 5rem;
}
.card-text-container h2{
  font-size: 2.4rem;
  margin-bottom: 2rem;
  font-family: var(--font-primary);
}
.highlight {
  color: var(--color-violet);
}

.card-text-container p{
  font-size: 1.5rem;
  line-height: 1.4;
  font-family: var(--font-secondary);
  margin-bottom: 2rem;
}

.icons{
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  /* margin: 1rem; */
  border: 4px solid green;
}

.icon h4 {
  max-height: 150px;
  padding: 0.8rem;
  font-size: 2rem;
  font-weight: 700;
  font-family: var(--font-primary);
 /* border: 4px solid green;  */
}
.small {
  font-size: 1.2rem;
  text-transform:uppercase;
  font-weight: 400;
}
/* .card-image-container{

  box-shadow: inset 0 0 0 rgba(62, 82, 163, 0.5);

} */
.card-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--color-violet-overlay);
}/*violet overlay over img box*/

.card-img, .card-img img {
  width: 100%;
  display: block;
  position: relative;
}

@media screen and (min-width: 800px) {
  .container{
    width: 120rem;
  }
  .card {
    flex-direction: row;
    padding-bottom: 0;
    text-align:start;
  }
  .card-image-container {
    flex: 0 0 50%;/*flex grow, shrink, basis*/
    display: flex;
    align-items: center;
  }

  .card-text-container {
    flex: 1 0 50%;
    margin-top: 4.5rem;
  }
  .card-text-container h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  .card-text-container h4 {
    font-size: 2rem;
    color: var(--color-white-trans-md);
    text-align: left;
  }
  .card-text-container p,.small {
    font-size: 1.3rem;
    font-family: var(--font-secondary);
    color: var(--color-white-trans-sm);
    line-height: 1.5;
    text-align: left;
    font-weight: 400;
  }

  .icons {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: flex-start;
  }
}





